<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title ? title:'Login System'%></title>
    <style>
        body{
            background: wheat ;
            background-repeat: no-repeat;
            text-align:center;
            
        }
        h1{
            margin-top: 10px;
        }
        .text-center{
            text-align: center;
            padding: 60px;
            margin:60px;
        }
        input{
            margin-top: 12px;
            padding:6px;
            border-radius: 2px;
        }
        small{
            padding-right: 20px;
            margin-top: 40px;
            font-family:sans-serif;
        }
        .btn{
            margin-top:12px;
            padding:5px;
            border-radius: 5px;
            box-shadow: 2px 2px;
            font-weight: bold;
            cursor: pointer;
        }
        p{
            padding-top:  7px;
        }
        span:hover{
            color:chocolate;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <h1>Registration Page</h1>

    <form action="/signupsubmit" method="GET">
        <div class="text-center">
            <h1>SignUp</h1>
            <div class="fname">
                <i class="fa-regular fa-user"></i><input type="text" class="fname" placeholder="Firstname" name="fname"> <br>
            </div>
            <div class="lname">
                <i class="fa-regular fa-user"></i><input type="text" class="lname" placeholder="Lastname" name="lname"> <br>
            </div>
            <div class="email">
                <i class="fa-regular fa-user"></i><input type="email" class="email" placeholder="Username" name="email"> <br>
            </div>
            <div class="password">
                <i class="fa-solid fa-lock"></i><input type="password" class="password" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn">Submit</button><br>
            <p>Please  verify our after submitting <br> <a href="#">Terms and Conditions</a> and <a href="#">Privacy policy</a></p>

        </div>
    </form>
</body>
</html>